---
title: Portfolio
menu: Work
name: BuzzTarget
---
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-lg-offset-1 col-lg-10 col-md-12 col-sm-12 col-xs-12">
        <h1>{{name}}</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </div>
  </div><!--End container -->
</div><!--End -->

<div class="section role">
  <img class="img-responsive" src="https://placeimg.com/1920/480/any" />
  <div class="container">
    <div class="row">
      <div class="col-lg-offset-1 col-lg-10 col-md-12 col-sm-12 col-xs-12">
        <h1 class="title">My Role</h1>
        <p>UX Design & Strategy | Co-Founder</p>
      </div>
    </div>
  </div>
</div>
 
<div class="section has-bgcolor">
  <div class="container">
    <div class="row">
      <div class="col-lg-offset-1 col-lg-10 col-md-12 col-sm-12 col-xs-12">
        <h1 class="title">Challenge</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
    </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-offset-1 col-lg-10 col-md-12 col-sm-12 col-xs-12">
        <h1 class="title">Approach</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="section has-bgcolor">
  <div class="container">
    <div class="row">
      <div class="col-lg-offset-1 col-lg-10 col-md-12 col-sm-12 col-xs-12">
        <h1 class="title">Design & Refinement</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-offset-1 col-lg-10 col-md-12 col-sm-12 col-xs-12">
        <h1 class="title">Impact</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="work section has-bgcolor">
  <div class="container">
    <h1 class="title">More Work</h1>
    <div class="row">
      {{#each work.portfolio}}
        {{> portfolio-tile this}}
      {{/each}}
    </div><!-- End row -->
  </div><!--End container -->
</div>