---
title: Home
---
<header id="home" class="jumbotron">
  <div class="container">
    <div class="message-box clearfix">
      <div class="left-col">
        <p>I am <span>{{site.author}}</span><br/>and I design</p>
      </div>	
      <div class="right-col flexslider home-slider" style="z-index:1;">
        <ul class="slides">
          <li><p>EXPERIENCES</p></li>
          <li><p>PRODUCTS</p></li>
          <li><p>SERVICES</p></li>
          <li><p>SOLUTIONS</p></li>
        </ul>
      </div><!--End home-slider -->
    </div><!--End message-box -->
  </div><!--End container -->
</header><!--End header -->