---
component: footer
---
<section class="footer nav navbar-bottom">
	<div class="container">
		<h2>Want to solve problems together? <a href="#">Get in touch</a></h2>
	</div><!--End container -->
</section>