<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect tile">
        <img class="img-responsive" src="https://placeimg.com/350/250/any" />
            <div class="overlay">
                <h2>{{name}}</h2>
                <p>{{short_description}}</p>
				<p> 
					<a href="{{#if link}} {{link}} {{else}}#{{/if}}">LINK HERE</a>
				</p> 
            </div>
    </div>
</div>