<!DOCTYPE html>
<html lang="en-US" class="no-js">
  <head>
    <meta charset="utf-8">
		<title>{{title}} | {{site.title}}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <!-- Favicons -->
    <link rel="shortcut icon" href="assets/favicon.ico">
		<link rel="apple-touch-icon" href="assets/apple-touch-icon.png">
		<link rel="apple-touch-icon" sizes="72x72" href="assets/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="114x114" href="assets/apple-touch-icon-114x114.png">
    
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="css/flexslider.css">
		<link rel="stylesheet" href="css/font-awesome.min.css">
		<link rel="stylesheet" href="css/designr-theme-cyan.css">
    
    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic,900' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=News+Cycle" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <script type="text/javascript" src="js/modernizr.min.js"></script>
  </head>
  <body data-spy="scroll" data-target="#main-nav" data-offset="200">

    <!--=== PAGE PRELOADER ===-->
		<div id="page-loader"><span class="page-loader-gif"></span></div>
    
    {{> navbar }}
    {{> body }}
    {{> footer }}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="js/jquery-1.9.1.min.js">\x3C/script>')</script>
		
    <!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="js/bootstrap.min.js"></script>
		<script src='js/jquery.scrollto.js'></script>
		<script src='js/jquery.flexslider.min.js'></script>
		<script src='js/twitterFetcher_min.js'></script>
		<script src='js/jquery.masonry.min.js'></script>
		<script src="js/waypoints.min.js"></script>
		<script src="js/jquery.easypiechart.min.js"></script>
		<script src="js/jquery.backstretch.min.js"></script>
		<script src="js/contact.js"></script>
		<script src="js/designr.js"></script>
  </body>
</html>
